In [9]:
numbers = list(range(30, 65, 5)) #create list with numbers 0 to 60 with interval 5, using range

In [10]:
numbers

[30, 35, 40, 45, 50, 55, 60]

In [11]:
numbers.reverse() #order list in reverse order

In [12]:
numbers

[60, 55, 50, 45, 40, 35, 30]

In [13]:
numbers.insert(0, 65) #insert 65 to beginning of new list
numbers

[65, 60, 55, 50, 45, 40, 35, 30]

In [4]:
empty_list = [] #create an empty list

In [5]:
empty_list

[]

In [6]:
for integers in range(0, 21): #append integers from 0 to 20 to this list
    empty_list += [integers]
empty_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
del empty_list[0] #delete item 0

In [8]:
empty_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
print(len(empty_list)) #return the length, maximume and minimume values of newest list
print(min(empty_list))
print(max(empty_list))

20
1
20

In [10]:
#sum up all the items
sum(empty_list)

210

In [11]:
#Create a weather dictionary. Using for loop, print out all the keys and values in the same line. 
weather_dict = {"sunny": "play", "rainy": "watch TV", "cloudy": "walk"}

In [12]:
weather_dict

{'sunny': 'play', 'rainy': 'watch TV', 'cloudy': 'walk'}

In [13]:
for weather, activity in weather_dict.items():
    print(f'When {weather} let us {activity}.')

When sunny let us play.
When rainy let us watch TV.
When cloudy let us walk.

In [14]:
weather_dict["snowy"] = "ski" #add new pair ("snowy", "ski")
weather_dict

{'sunny': 'play', 'rainy': 'watch TV', 'cloudy': 'walk', 'snowy': 'ski'}