In [2]:
numbers = list(range(30, 65, 5)) #create list with numbers 0 to 60 with interval 5, using range

In [3]:
numbers

[30, 35, 40, 45, 50, 55, 60]

In [4]:
numbers.reverse() #order list in reverse order

In [5]:
numbers

[60, 55, 50, 45, 40, 35, 30]

In [6]:
numbers.insert(0, 65) #insert 65 to beginning of new list
numbers

[65, 60, 55, 50, 45, 40, 35, 30]

In [7]:
empty_list = [] #create an empty list

In [8]:
empty_list

[]

In [21]:
empty_list.append(1) #append integers from 0 to 20 to this list
empty_list.append(2)
empty_list.append(3)
empty_list.append(4)
empty_list.append(5)
empty_list.append(6)
empty_list.append(7)
empty_list.append(8)
empty_list.append(9)
empty_list.append(10)
empty_list.append(11)
empty_list.append(12)
empty_list.append(13)
empty_list.append(14)
empty_list.append(15)
empty_list.append(16)
empty_list.append(17)
empty_list.append(18)
empty_list.append(19)
empty_list.append(20)

In [22]:
empty_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [31]:
print(len(empty_list)) #return the length, maximume and minimume values of newest list
print(min(empty_list))
print(max(empty_list))

20
1
20

In [45]:
#sum up all the items
sum(empty_list)

210

In [38]:
#Create a weather dictionary. Using for loop, print out all the keys and values in the same line. 
weather_dict = {"sunny": "play", "rainy": "watch TV", "cloudy": "walk"}

In [39]:
weather_dict

{'sunny': 'play', 'rainy': 'watch TV', 'cloudy': 'walk'}

In [41]:
for weather, activity in weather_dict.items():
    print(f'When {weather} let us {activity}.')

When sunny let us play.
When rainy let us watch TV.
When cloudy let us walk.

In [43]:
weather_dict["snowy"] = "ski" #add new pair ("snowy", "ski")
weather_dict

{'sunny': 'play', 'rainy': 'watch TV', 'cloudy': 'walk', 'snowy': 'ski'}